workspace/providers/n8n/unified-ingest-workflow.json
{
  "name": "Fahrenheit Unified Gateway Ingest",
  "nodes": [
    {
      "id": "webhook",
      "name": "Ingress",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        260
      ],
      "parameters": {
        "path": "fahrenheit-ingest",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        260
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "channelId",
              "value": "={{$json.channelId || $json.provider || 'unknown'}}"
            },
            {
              "name": "sourceId",
              "value": "={{$json.sourceId || $json.chatId || $json.channel || 'unknown'}}"
            },
            {
              "name": "senderId",
              "value": "={{$json.senderId || $json.user || 'unknown'}}"
            },
            {
              "name": "senderName",
              "value": "={{$json.senderName || $json.userName || 'unknown'}}"
            },
            {
              "name": "content",
              "value": "={{$json.content || $json.text || ''}}"
            },
            {
              "name": "direction",
              "value": "inbound"
            },
            {
              "name": "mode",
              "value": "={{$json.mode || 'observational'}}"
            }
          ],
          "number": [
            {
              "name": "timestamp",
              "value": "={{$json.timestamp || Date.now()}}"
            }
          ]
        }
      }
    },
    {
      "id": "forward",
      "name": "Forward to Fahrenheit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.FAHRENHEIT_GATEWAY_INGEST_URL || 'http://127.0.0.1:8787/ingest'}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + ($env.FAHRENHEIT_INGEST_TOKEN || '')}}"
            }
          ]
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        980,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      }
    }
  ],
  "connections": {
    "Ingress": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Forward to Fahrenheit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Fahrenheit": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}